{% extends "layout.html" %}
{% block content %}
    <header class="py-10 mb-4 bg-gradient-primary-to-secondary">
        <div class="container-xl px-4">
            <div class="text-center">
                <h1 class="text-white">Welcome to DPRP</h1>
                <p class="lead mb-0 text-white-50">A decentralized product review platform, powered by blockchain technique.</p>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <h2 class="mt-5 mb-0"> Reviews </h2>
        <p> Add a review or see all your reviews! </p>
        <hr class="mt-0 mb-4" />

        <div class="row">
            <div class="col-md-6">
                <a class="mt-5 mb-0" href="{{ url_for('addReview') }}">Add a Review</a>
            </div>
            <div class="col-md-6">
                <a class="mt-5 mb-0" href = "{{ url_for('myReview', user_id = id) }}"> My Reviews  </a>
            </div>
        </div>

        <div class="mb-5">
        </div>


        <h2 class="mt-5 mb-0"> Products </h2>
        <p> Create a product, search or browse all products! </p>
        <hr class="mt-0 mb-4" />

        <div class="row">
            <div class="col-md-6">
                <a class="mt-5 mb-0" href="{{ url_for('addProduct') }}">Add a Product</a>
            </div>
            <div class="col-md-6">
                <a class="mt-5 mb-0" href = "{{ url_for('allProducts') }}"> Browse Products  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="mt-5 mb-0" href="{{ url_for('search') }}">Search for a product</a>
            </div>
        </div>
    </div>
{% endblock %}