{% extends "layout.html" %}
{% block content %}
    <header class="py-10 mb-4 bg-gradient-primary-to-secondary">
        <div class="container-xl px-4">
            <div class="text-center">
                <h1 class="text-white">Welcome to DPRP</h1>
                <p class="lead mb-0 text-white-50">A decentralized product review platform, powered by blockchain technique.</p>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <h1><a class="mt-5 mb-0" href = {{ url_for('myReview', user_id = id) }}>My Reviews</a></h1>

        <!-- <a class="nav-link" >Profile</a> -->
        <h1><a class="mt-5 mb-0" href="add-review">Add a Review</a></h1>
        <p>Add a review!</p>
        <hr class="mt-0 mb-4" />
        <div class="row">
        </div>

        <h2 class="mt-5 mb-0">Starter Layouts</h2>
        <p>Layouts for creating new pages within your project!</p>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="small mb-1">Navigation</div>
                <div class="list-group mb-4">
                    <a class="list-group-item list-group-item-action p-3" href="layout-static.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Static Sidenav
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="layout-dark.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Dark Sidenav
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="layout-rtl.html">
                        <div class="d-flex align-items-center justify-content-between">
                            RTL Layout
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="small mb-1">Container Options</div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action p-3" href="layout-boxed.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Boxed Layouts
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="layout-fluid.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Fluid Layout
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="small mb-1">Page Headers</div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action p-3" href="header-simplified.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Simplified
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="header-compact.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Compact
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="header-overlap.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Content Overlap
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="header-breadcrumbs.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Breadcrumbs
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="header-light.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Light
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="small mb-1">Starter Layouts</div>
                <div class="list-group mb-4">
                    <a class="list-group-item list-group-item-action p-3" href="starter-default.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Default
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action p-3" href="starter-minimal.html">
                        <div class="d-flex align-items-center justify-content-between">
                            Minimal
                            <i class="text-muted" data-feather="arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}