{% extends "layout.html" %}

{% block content %}
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="list"></i></div>
                                Product List
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ url_for('addProduct') }}">
                                <i class="me-1" data-feather="plus"></i>
                                Create New Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Product Name</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody id='product-list-body'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
        <script src="{{ url_for('static',filename='/js/products.js') }}"> </script>
        <script>
            let products = {{products|tojson}}
        </script>
{% endblock scripts %}


